/* P tegi uchun selector */
p{
    font-family: Arial;
    color:red;
    font-size:16px;
    font-weight:bold;
}

/* Class uchun selector */
.class1{
    font-family: Arial;
    color:green;
    font-size:16px;
    font-weight:bold;
}

/* ID uchun selector */
#id1{
    font-family: Arial;
    color:lightblue;
    font-size:16px;
    font-weight:bold;
}

/* Disabled uchun selector */
[disabled]{
    font-family: Arial;
    font-family: Arial;
    color: purple;
    font-size: 16px;
    font-weight: bold;
}
