body{
    background-image: linear-gradient(to right, #1489ccc1, #2b32b2d7);
}

h1{
    color: #fff;
    font-wight: bold;
    font-size: 24;
    background-color: #da22ff;
}
p{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background-color: #dd2476;
}
